.ut-hero-heading {
    text-align: center !important;
}

.ut-margin-bottom-big {
    margin-bottom: 1rem;
}


.counter-invis {
    opacity: 0;
    display: none;
}

.margin-sides-small {
    margin: 0 .5rem;
}