.tab {
    
    &-height {
        height: 4.5rem;
    }

    &-padding {
        padding: .1rem;
    }

    &-relative {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.ut-hero-heading {
    text-align: center !important;
}

.ut-margin-bottom-big {
    margin-bottom: 1rem;
}