.tab {
    display: inline-block;
    padding: 0 .5rem;
    
    
    &-height {
        height: 4.5rem;
    }

    &-padding {
        padding: .1rem;
    }

    &-relative {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-border {
        border-left: 1px solid red;
        border-top: 1px solid red;
        border-radius: .4rem;
        
    }

    &-active {
        border-left: 5px solid red;
        border-radius: .4rem;
    }
}

.ut-hero-heading {
    text-align: center !important;
}

.ut-margin-bottom-big {
    margin-bottom: 1rem;
}


.counter-invis {
    opacity: 0;
    display: none;
}

.margin-sides-small {
    margin: 0 .5rem;
}