.container {
    position: relative;
    border: 1px solid red;
    width: 100%;
    
}

.main {

    border: 1px solid black;
    box-shadow: 0 .1rem 3rem rgba(black, .15);
    &-statsbox {
        padding: .5rem;
        height: 15rem;

        &__description {
            color: black;
            overflow: hidden;
            padding: 1rem;
        }
    }

    &-stats {
        color: black;
        border: 1px solid blue;
        text-align: center;
        border-radius: .4rem;
    }
}