.container {
    position: relative;
    border: 1px solid red;
    width: 100%;
    height: 20rem;
}

.position {

    &-tab {
        position: absolute;
        width: 100%;
        
        bottom: 0;
    }


}

.main-statsbox {
    padding: .5rem;
    height: 15rem;

    &__description {
        color: black;
        overflow: hidden;
        padding: 1rem;
    }
}

.main-stats {
    color: black;
    border: 1px solid blue;
    text-align: center;
}