.counter-card {
    
    padding: .4rem .5rem;
    margin: 0 .5rem;
    margin-bottom: 1rem;
    
    &__content {
        display: table;
    }

    &__left {
        width: 33.3333333%;
        display: table-cell;
    }

    &__right {
        width: 66.6666667%;
        display: table-cell;
        vertical-align: middle;
        padding-left: .5rem;
    }
}