/* Colors */
$color-bg-darkslategray: #333237;
$color-white: #f6f6f6;


/* OverWatch Colors */
$ow-orange: #f99e1a;
$ow-grey: #43484c;
$ow-blue-dark: #405275;
$ow-blue-light: #218ffe;
$ow-black: #000000;

/* Grid */
$grid-width: 114rem;
$gutter-vertical: .5rem;
$gutter-horizontal: .5rem;