.tab {
    display: inline-block;
    padding: 0 .5rem;
    
    
    
    &-height {
        height: 4.5rem;
    }

    &-padding {
        padding: .1rem;
    }

    &-relative {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-border {
        border-left: 1px solid red;
        border-top: 1px solid red;
        border-radius: .4rem;
        
    }

    &-active {
        border-left: 5px solid red;
        border-radius: .4rem;
        transition: all .1s;
        transform: translateY(-.3rem) scale(1.03);
    }
}